header {
  width: 100%;
  background-color: lightblue;
}

h2 {
  text-align: left;
}

ul {
  text-align: right;
  color: #ffffff;
}

/* List items in navigation bar */
li {
  /* sets display to inline*/
  list-style-type: none;
  font-size: 40px;
  display: inline
}

/* Boxes */
img {
  /* sets display to block */
  margin: 0 auto;
  display: block;
}

#item-1 {
  background-color: #e0115f;
}

#item-2 {
  background-color: #0000ff;
}

#item-3 {
  background-color: #999900;
}

/* Box 3 */
#image-3 {
  /* changes form display: none to display: block */
  display: block;
}
