section {
  width: 600px;
  height: 600px;
  text-align: center;
  border: 15px solid black;
}

img {
  width: 200px;
  height: 200px;
  background-color: lightblue;
  /* adds margin of 10px */
  margin: 10px;
  /* adds padding of 20px */
  padding: 20px;
  /* adds border of 10px with solid, dark blue border*/
  border: 10px solid darkblue;
}
