/* Adds font-size 16px and line height of 1.5 */
body {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  line-height: 1.5; 
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  background-color: #13293d;
  color: #fff;
}

/* adds font-size 200%, margin 3%, and font-family serif */
h1 {
  font-size: 200%;
  margin: 3%;
  font-family: serif;
}

/* adds font-size 175%, margin on top/bottom of 3% and font family serif */
h2 {
  font-size: 175%;
  margin: 3% 0;
  font-family: serif;
}

/* adds font-size 125% and font-family serif */
h3 {
  font-size: 125%;
  font-family: serif;
}

nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 300px;
}

nav a {
  color: #b9c6ae;
  font-weight: bold;
  text-decoration: none;
}

main {
  display: flex;
  flex: 1 1 0;
  max-width: 1200px;
  margin: 2% auto;
}

section {
  flex: 1 1 0;
  padding-right: 5%;
}

article {
  border-bottom: 1px solid #d8a47f;
}

/* adds margin to top/bottom of 3% */
article p {
  margin: 3% 0
}

/*  Adds a margin tof 4% indent the list, gives it square bullet points using list-style, and adds font family monospace */
article ul {
  margin: 4%;
  list-style: square;
  font-family: monospace;
}

aside {
  width: 25%;
}

input,
button {
  width: 100%;
  margin: 2% 0;
  padding: 1%;
}

footer {
  display: flex;
  justify-content: center;
  padding: 2%;
  background-color: #13293d;
  color: #fff;
}

@media screen and (max-width: 768px) {
  header,
  main {
    flex-direction: column;
  }

  section {
    padding-right: 0;
  }

  aside {
    width: 100%;
    text-align: center;
  }
}
